@font-face {
    font-family: rockybilly;
    src: url(/fonts/Rockybilly.ttf);
}

a {
    cursor: pointer;
}

 button:hover {
    transform: scale(1.1);
    transition: ease-in-out;
 }

 .logo-container {
    margin-right: auto;
    width: fit-content;
    padding-left: 128px;
    display: flex;
    top: 5px;
 }

 .logo {
    color: #fff;
    font-size: 18px;
    font-family: rockybilly;
 }


/* --- Header styles ---*/

 .header {
    position: fixed;
    top: 0%;
    width: 100%;
    height: 80px;
    background-color: #6A5A3A;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 1000;
}

.header-main-navigation {
    margin-right: 128px;
    display: flex;
    width: fit-content; 
}

.header-main-navigation ul {
    display: inline;   
}

.header-main-navigation ul li {
    display: inline;
    float: left;  
}

.header-main-navigation ul li a {
    padding: 0px 20px 0px 20px;
    font-size: 16px;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif  
}


/* --- Main styles --- */

main {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10%;
    padding-left: 128px;
    padding-right: 128px;
    margin-bottom: 10%;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #292929;
    max-width: 602px;
}

.contact-form-container {
    padding-right: 10%;¨
}

.form-title {
    font-family: rockybilly;
    font-size: 20px;
    color: black;
}

.form-input {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 40px;
}

.input-field {
    border: 1px solid;
    border-color: black;
    background-color: #F4F4F4;
    padding: 3px;
    border-radius: 5px;
    width: 480px;
}

input:placeholder-shown {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #292929;
    font-style: italic;
    padding-left: 30px;
}

#user-icon {
    position: absolute;
    width: 20px;
    padding-left: 5px;
    padding-top: 5px;
}

#mobile-icon {
    position: absolute;
    width: 19px;
    padding-top: 40px;
    padding-left: 5px;
}

#mail-icon {
    position: absolute;
    width: 23px;
    padding-top: 77px;
    padding-left: 5px;
}

.contact-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.contact-btn {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    border: 1px solid;
    border-color: black;
    border-radius: 5px;
    padding: 10px 60px;
    margin-top: 10px;
}

.contact-btn:hover {
    background-color: #F9C9B4;
    transition: all ease-in-out 600ms;
}


/* --- Footer styling --- */

.footer {
    height: 270px;
    width: 100%;
    background-color: #6A5A3A;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    flex-wrap: nowrap;
    margin-top: 5%;
    bottom: 0%;
}

.footer-nav-container {
    width: 340px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: auto;
}

.footer-nav {
    font-size: 16px;
    line-height: 250%;
    color: #fff;
    letter-spacing: 2%;
    font-family: Arial, Helvetica, sans-serif
}
.underline {
    text-decoration: underline;
}

.footer h5 {
    font-size: 16px;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif
}

.socialmedia-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 128px;
}

.socialmedia-links img {
    margin: 5px;
}

.socialmedia-links h5 {
    margin-bottom: 15px;
}
