@font-face {
    font-family: rockybilly;
    src: url(/fonts/Rockybilly.ttf);
}

a {
    cursor: pointer;
}

h2 {
    color: #292929;
    font-size: 20px;
    font-family: rockybilly; 
}

 button:hover {
    transform: scale(1.1);
    transition: ease-in-out;
}

 .logo-container {
    margin-right: auto;
    width: fit-content;
    padding-left: 128px;
    display: flex;
    top: 5px;
}

.logo {
    color: #fff;
    font-size: 18px;
    font-family: rockybilly;
}

.header {
    position: fixed;
    top: 0%;
    width: 100%;
    height: 80px;
    background-color: #6A5A3A;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

.header-main-navigation {
    position: fixed;
    right: 128px;
    display: flex;
    width: fit-content; 
}

.header-main-navigation ul {
    display: inline;   
}

.header-main-navigation ul li {
    display: inline;
    float: left;  
}

.header-main-navigation ul li a {
    padding: 0px 20px 0px 20px;
    font-size: 16px;
    color: #EEDFD9;
    font-family: Arial, Helvetica, sans-serif  
}

.hero {
    width: 100%;
    height: 480px;
    background-image: url(/images/hero-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    color: #EEDFD9;
    font-size: 60px;
    font-family: rockybilly;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 26px;
    color: #292929;
    max-width: 600px;
    padding-bottom: 24px;
    position: relative;
}

.value-2 {
    width: 100%;
    height: auto;
    padding-top: 90px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    position: relative;
}

.value-2-text {
    height: 356px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
}

.value-2 button {
    width: 403px;
    height: 50px;
    border-radius: 15px;
    border: #292929 solid 1px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    position: relative;
    left: 50px;
}

.value-2 button:hover {
    background-color: #F9C9B4;
    transition: all ease-in-out 600ms;
}

.value-2 img {
  max-width: 500px;
  height: max-content;
}


/* --- Footer Styles --- */

.footer {
    height: 270px;
    width: 100%;
    background-color: #6A5A3A;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    flex-wrap: nowrap;
    margin-top: 5%;
    bottom: 0%;
}

.footer-nav-container {
    width: 340px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: auto;
}

.footer-nav {
    font-size: 16px;
    line-height: 250%;
    color: #fff;
    letter-spacing: 2%;
    font-family: Arial, Helvetica, sans-serif
}
.underline {
    text-decoration: underline;
}

.footer h5 {
    font-size: 16px;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif
}

.socialmedia-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 128px;
}

.socialmedia-links img {
    margin: 5px;
}

.socialmedia-links h5 {
    margin-bottom: 15px;
}